      footer {
      background-color: white;
      border-top: 1px solid #CCCCCC;
      bottom: 0;
      height: 60px;
      line-height: 60px;
      width: 100%;
      text-align: center;
      vertical-align: middle;
}